
// @import "../../assets/theme/tailwind/tailwind-light/variables";
@import "../../assets/theme/tailwind-user/tailwind-light/variables";

:root{
    --shadowColor: #0054fd80;
    --secondaryShadowColor: #cfd8dc;   
    --boxShodowLight : #00000026; 
    --bodyBgColor : #eef1f5;
    --themeTextColor: #253238;
}

// font family 
$font-family: 'SF UI Display', sans-serif;

$leftSidebarBg: var(--themeTextColor);
$leftSidebarTextColor: $shade400;
$leftMenuHoverBg: #000;
$leftMenuHoverTextColor: #fff;
$formFieldLabel: var(--themeTextColor);
$actionBtnBorder: #56A1D5;

// theme color variables
$white: #ffffff;
$orange: #F7722A;

// font weight variables
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// fonts size variables
$font-size-8px : 0.5rem;
$font-size-10px : 0.625rem;
$font-size-12px : 0.75rem;
$font-size-14px : 0.875rem;
$font-size-16px : 1rem;
$font-size-18px : 1.125rem;
$font-size-20px : 1.25rem;
$font-size-22px : 1.375rem;
$font-size-24px : 1.5rem;
$font-size-26px : 1.625rem;
$font-size-28px : 1.75rem;
$font-size-30px : 1.875rem;
$font-size-32px : 2rem;
$font-size-34px : 2.125rem;
$font-size-36px : 2.25rem;
$font-size-45px : 2.8125rem;

// width 
$w-100per : 100%;
// $w-100px : 100px;

$validationColor: #E02020;
$tdMaxWidth: 100px;
