.cls-price-info {
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
    color: $shade400;
}

.cls-price-break-container {
    min-width: 200px;
    max-width: 250px;
    display: inline-block;
    .cls-price-break {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid lightgrey;
        span:nth-child(1) {
            float: left;
        }
        span:nth-child(2) {
            float: right;
            text-align: right;
        } 
    }
}