$primary-color: #042758;
$header-color: #042758;
$action-button-text: #EDF1F7;
$primary-buttons-background: #0668F0;
$secondary-buttons-text: #0668F0;
$secondary-buttons-border: #0668F0;
$shipping-option-title: #0668F0;
$payment-type-text: #0668F0;
$payment-type-border: #0668F0;
$date-input-icon: #0668F0;
$cart-total-text: #0668F0;
$page-title: #212529;
$text-color: #253238;
$action-button-background: #EDF1F7;
$grid-row-selected-background-color: #E1EBF9;
$tertiary-buttons-background: #7D7D7D;
$date-input-title: #7E8082;
$grid-header-color: #135EAB;
$wizard-background: #EDF1F7;
$panel-background: #EDF1F7;
$secondary-color: #EDF1F7;
$page-background-color: #FFFFFF;
$top-strip-color: #EDF1F7;
$grid-row-alternate-color: #FAFAFA;
$menu-text-inactive: #FDFDFD;
$footer-color: #EDF1F7;
$menu-text-active: #FFFFFF;
$grid-row-color: #FFFFFF;
$primary-buttons-text: #FFFFFF;
$secondary-buttons-background: #FFFFFF;
$tertiary-buttons-text: #FFFFFF;
$primary-dark-color: #0053C6;
$secondary-button-hover: #EDF1F7;
$secondary-button-border: #0668F0;
$action-button-background: #0668F0;
$action-button-icon: #FFFFFF;
$grid-row-hower: #EDF1F7;
$menu-hover: #EDF1F7;
$tertiary-buttons-hover: #253238;
$side-bar-text: #90A4AE;
$side-bar-hover: #000000;
$header-menu-color: #FFFFFF;
$grid-row-sel-color: #DEEBFF;
$grid-row-select-background: #DEEBFF;
$error-color: #E02020;
$popup-border: #B0BEC5;
$company-card-border: #E6E6E6;
$shadow: #E5E5E8;
$setup-complete: #64C200;
$setup-background: #ACD9C5;
$icon-background: #EFEFEF;
$icon-color: #90A4AE;
$action-btn-background: #DEEBFF;
