.cls-flex-layout {
    display: flex;
}

.cls-setup-container {
    width: 500px;
    margin: 0px auto;
}

.cls-step-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cls-setup-button {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.cls-login-button {
    margin-top: 50px;
    display: flex;
    justify-content: right;
}