.cls-main-area {
    width: calc(100% - 48px);
    height: 100vh;
    // overflow: hidden;
}

.cls-main-area-user {
    width: calc(100%);
    height: calc(100vh);
    // overflow: hidden;
    background-color: var(--userBodyBg);
}

.cls-main {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    padding: 15px;
}

.cls-main-user {
    background-color: var(--userBodyBg);
    &.cls-main-area-user-gap {
        padding: 30px;
    }
}