.cls-wip-image {
    
}

.cls-icon {
    width: 100%;
    text-align: center;

    img {
        width: 30%;
        margin-top: 10%;
    }
}

.cls-wip {
    font-size: 25px;
    color: grey;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}